:root {
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
}

/* changes font to roboto, light */
html,
body {
    font-family: 'Roboto', sans-serif;
    color: var(--cf-light);
}

/* idk what this does*/
.content {
    flex: 1 0 auto;
}


/* transparent nav and footer */
.navbar,
.footer {
    background-color: rgba(69, 1, 69, 0);
    flex-shrink: 0;
}

.navbar .img-fluid {
    max-width: 3rem;
    margin-right: 5px;
}

.BG {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* heading styles */
/* start sticky footer */

body {
    min-height: 100%;

}

main {
    flex-grow: 1;
    justify-content: center;
}

footer {
    flex-shrink: 0;
}

/* end sticky footer */



body {
    background-color: var(--cf-darkblue);
    height: 100%;
}

.BG {
    background-image: url(/img/LandingPage_576.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper { 
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.title {
    font-family: 'Racing Sans One', cursive;
    font-size: 2.3rem;
    line-height: 1.7rem;
    letter-spacing: 0.05rem;
}

.subtitle {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.vert-center-text {
    margin-top: 40rem;
    flex-direction: column;
    margin-left: 2rem;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .BG {
        background-image: url(/img/LandingPage_768.png);
        background-position: right -15rem center;
    }

    .title {
        font-size: 4rem;
        line-height: 2.5rem;
    }

    .vert-center-text {
        margin-top: 15rem;
    }

    .subtitle {
        font-size: 1.7rem;
        line-height: 1.5rem;
        font-weight: 300;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .BG {
        background-image: url(/img/LandingPage_992.png);
        background-position: right -13rem center;
    }

    .title {
        font-size: 4rem;
        line-height: 2.5rem;

    }

    .subtitle {
        font-size: 1.7rem;
        line-height: 1.5rem;
        font-weight: 300;
    }

    .vert-center-text {
        margin-top: 15rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .BG {
        background-image: url(/img/LandingPage_1200.png);
        background-position: right 0px center;
    }

    .title {
        font-size: 5rem;
        line-height: 3rem;
    }

    .subtitle {
        font-size: 2rem;
        line-height: 1.8rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        
    }

    .vert-center-text {
        margin-top: 12rem;
        margin-left: 1rem;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .BG {
        background-image: url(/img/LandingPage_1920.png);
    }

    .title {
        font-size: 5rem;
        line-height: 3rem;
    }

    .subtitle {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 300;
    }
}